<footer class="footer">
  <div class="footer__container container">
    <div class="footer__main">
      {% if footer_menu %}
        <div class="footer__widget footer__widget_nav">
          <div class="footer__title">{{ text_title_nav }}</div>
          <nav class="footer__nav">
            {% for item in footer_menu %}
              <a href="{{ item.href }}" class="footer__nav-link">{{ item.name }}</a>
            {% endfor %}
          </nav>
        </div>
      {% endif %}
      <div class="footer__widget footer__widget_contact">
        <div class="footer__title">{{ text_title_contact }}</div>
        <div class="footer__contact">
          {% if telephone or telephone2 %}
            <div class="footer__phones">
              {% if telephone %}
                <a href="tel:{{ telephone_clear }}" class="footer__phone">{{ telephone }}</a>
              {% endif %}
              {% if telephone2 %}
                <a href="tel:{{ telephone2_clear }}" class="footer__phone">{{ telephone2 }}</a>
              {% endif %}
            </div>
          {% endif %}
          {% if email_public %}
            <div class="footer__email">
              <a href="mailto:{{ email_public }}" class="footer__email-link">{{ email_public }}</a>
            </div>
          {% endif %}
          {% if address %}
            <div class="footer__address">{{ address }}</div>
          {% endif %}
          {% if working_hours %}
            <div class="footer__working-hours">
                <b>Графік роботи:</b><br>
                {{ working_hours }}
            </div>
          {% endif %}
          {% if telegram %}
            <a href="{{ telegram }}" target="_blank" class="footer__telegram">{{ text_telegram }}</a>
          {% endif %}
          {% if viber %}
            <a href="{{ viber }}" target="_blank" class="footer__viber">{{ text_viber }}</a>
          {% endif %}
          {% if youtube %}
            <a href="{{ youtube }}" target="_blank" class="footer__youtube">{{ text_youtube }}</a>
          {% endif %}
        </div>
      </div>
      <div class="footer__widget footer__widget_legal">
        {% if footer_menu %}
          <nav class="footer__nav footer__nav_legal">
            {% for item in legal_menu %}
              <a href="{{ item.href }}" class="footer__nav-link">{{ item.name }}</a>
            {% endfor %}
          </nav>
        {% endif %}
        <div class="footer__pay">
          <img src="catalog/view/images/footer-pay-mastercard.svg" width="46" height="32" alt="">
          <img src="catalog/view/images/footer-pay-visa.svg" width="46" height="32" alt="">
          <img src="catalog/view/images/footer-pay-apple-pay.svg" width="46" height="32" alt="">
          <img src="catalog/view/images/footer-pay-google-pay.svg" width="46" height="32" alt="">
        </div>
        {% if owner %}
          <div class="footer__owner">{{ owner }}</div>
        {% endif %}
      </div>
    </div>
    <div class="footer__copyright">{{ copyright }}</div>
  </div>
</footer>

<div class="modal modal_cart fade" id="modal-add-cart">
    <div class="modal__inner">
        <div class="modal__content">
            <div class="modal-cart">
                <div class="modal-cart__head">Додано до кошика</div>
                <div class="modal-cart__body" id="modal-cart-body"></div>
                <div class="modal-cart__foot">
                    <a href="cart" class="modal-cart__btn modal-cart__btn_cart">До кошика</a>
                    <button class="modal-cart__btn modal-cart__btn_close js-modal-close">Продовжити покупки</button>
                </div>
            </div>
            <div class="modal__close js-modal-close"></div>
        </div>
    </div>
</div>

<svg style="display: none;">
    <symbol id="icon-home" viewBox="0 0 16 16"><path d="M7.016 2.098c-.417.194-.914.49-1.619.91l-.923.55c-.776.462-1.324.789-1.726 1.091-.392.295-.607.54-.74.817-.134.277-.189.596-.172 1.084.017.5.107 1.128.235 2.017l.186 1.292c.164 1.142.282 1.952.45 2.563.165.597.364.943.652 1.191.289.249.663.395 1.283.473.634.08 1.459.08 2.62.08h1.475c1.162 0 1.987 0 2.621-.08.62-.078.994-.224 1.283-.473.288-.248.487-.594.652-1.191.168-.611.286-1.42.45-2.563l.185-1.291c.129-.89.219-1.518.236-2.018.017-.488-.038-.807-.171-1.084-.134-.277-.349-.521-.741-.817-.402-.302-.95-.63-1.726-1.091l-.923-.55c-.705-.42-1.203-.716-1.619-.91-.406-.19-.698-.265-.984-.265-.286 0-.578.075-.984.265Zm-.423-.907C7.076.966 7.517.833 8 .833s.924.133 1.407.358c.468.219 1.01.542 1.69.947l.018.01.945.564c.747.445 1.342.8 1.793 1.138.465.35.814.71 1.041 1.184.228.474.29.97.27 1.55-.02.56-.118 1.24-.24 2.091l-.006.035L14.733 10l-.005.03c-.158 1.103-.284 1.977-.471 2.657-.194.7-.468 1.256-.963 1.683-.495.426-1.087.617-1.812.707-.703.089-1.59.089-2.71.089H7.228c-1.12 0-2.007 0-2.71-.089-.725-.09-1.317-.281-1.812-.707-.495-.427-.77-.982-.963-1.683-.188-.68-.313-1.554-.472-2.656l-.194-1.35C.954 7.827.856 7.145.837 6.584c-.02-.58.041-1.076.269-1.55.227-.474.576-.834 1.04-1.184.452-.34 1.049-.695 1.798-1.141l.018-.01.937-.558c.68-.407 1.224-.73 1.694-.95Z"/><path d="M5.5 12a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5Z"/></symbol>
    <symbol id="icon-angle-right" viewBox="0 0 8 8"><path d="M2.025 7.5a.5.5 0 0 1 .147-.353L4.73 4.589a.833.833 0 0 0 0-1.178L2.175.855a.5.5 0 0 1 .707-.707l2.554 2.554a1.835 1.835 0 0 1 0 2.593L2.88 7.852a.5.5 0 0 1-.854-.352Z"/></symbol>
</svg>

{{ cookie }}
<script src="{{ bootstrap }}" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/modal.js"></script>
{% if is_mobile %}
  <script src="catalog/view/javascript/common-mobile.js"></script>
{% endif %}



</body></html>
