<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <script src="{{ jquery }}" type="text/javascript"></script>
  {#<link href="{{ bootstrap }}" type="text/css" rel="stylesheet" media="screen"/>
  <link href="{{ icons }}" rel="stylesheet" type="text/css"/>#}
  <link href="{{ stylesheet }}" type="text/css" rel="stylesheet"/>
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
  {% if icon %}
    <link rel="icon" href="{{ icon }}" type="image/png">
  {% endif %}
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script.href }}" type="text/javascript"></script>
  {% endfor %}
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>

<div id="alert"></div>

<div class="bar">
  <div class="bar__container container">
    {% if header_menu %}
      <nav class="bar__nav">
        {% for item in header_menu %}
          <a href="{{ item.href }}" class="bar__nav-link">{{ item.name }}</a>
        {% endfor %}
      </nav>
    {% endif %}
    {% if working_hours %}
      <div class="bar__working-hours">{{ working_hours }}</div>
    {% endif %}
  </div>
</div>

<header class="header">
  <div class="header__container container">
    <a href="{{ home }}" class="header__logo">
      <img src="catalog/view/images/logo.svg" width="147" height="32" alt="">
    </a>
    <div class="header__group">
      {% if catalog_menu %}
        <div class="header__catalog">
          <button class="header__catalog-toggle">Каталог товарів</button>
          <nav class="header__catalog-nav">
            {% for category in catalog_menu %}
              <a href="{{ category.href }}" class="header__catalog-link">
                <img src="image/{{ category.image }}" width="16" height="16" class="header__catalog-icon" alt="">
                {{ category.name }}
              </a>
            {% endfor %}
          </nav>
        </div>
      {% endif %}
      <div class="header__search">{{ search }}</div>
    </div>
    <div class="header__contact">
      <div class="header__contact-messengers">
        {% if viber %}
          <a href="{{ viber }}" class="header__contact-messenger header__contact-messenger_viber"></a>
        {% endif %}
        {% if telegram %}
          <a href="{{ telegram }}" class="header__contact-messenger header__contact-messenger_telegram"></a>
        {% endif %}
      </div>
      <div class="header__contact-phones">
        {% if telephone %}
          <a href="tel:{{ telephone_clear }}" class="header__contact-phone">{{ telephone }}</a>
        {% endif %}
        {% if telephone2 %}
          <a href="tel:{{ telephone2_clear }}" class="header__contact-phone">{{ telephone2 }}</a>
        {% endif %}
      </div>
    </div>
    <div class="header__user">
      {# TODO: зробити "обране" для неавторизованих користувачів та додати оновлення лічильника #}
      <a href="{{ wishlist }}" class="header__favorite">
        <span class="header__favorite-count">0</span>
      </a>
      <div id="cart" class="header__cart">
        {{ cart }}
      </div>
    </div>
  </div>
</header>

<div id="container">
  {#<nav id="top">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <ul class="list-inline">
            <li class="list-inline-item">{{ currency }}</li>
            <li class="list-inline-item">{{ language }}</li>
          </ul>
        </div>
        <div class="col text-end">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ contact }}"><i class="fa-solid fa-phone"></i> <span class="d-none d-lg-inline">{{ telephone }}</span></a></li>
            <li class="list-inline-item">
              <div class="dropdown">
                <a href="{{ account }}" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-user"></i> <span class="d-none d-lg-inline">{{ text_account }}</span> <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  {% if not logged %}
                    <li><a href="{{ register }}" class="dropdown-item">{{ text_register }}</a></li>
                    <li><a href="{{ login }}" class="dropdown-item">{{ text_login }}</a></li>
                  {% else %}
                    <li><a href="{{ account }}" class="dropdown-item">{{ text_account }}</a></li>
                    <li><a href="{{ order }}" class="dropdown-item">{{ text_order }}</a></li>
                    <li><a href="{{ transaction }}" class="dropdown-item">{{ text_transaction }}</a></li>
                    <li><a href="{{ download }}" class="dropdown-item">{{ text_download }}</a></li>
                    <li><a href="{{ logout }}" class="dropdown-item">{{ text_logout }}</a></li>
                  {% endif %}
                </ul>
              </div>

            </li>
            <li class="list-inline-item"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa-solid fa-heart"></i> <span class="d-none d-lg-inline">{{ text_wishlist }}</span></a></li>
            <li class="list-inline-item"><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa-solid fa-cart-shopping"></i> <span class="d-none d-lg-inline">{{ text_shopping_cart }}</span></a></li>
            <li class="list-inline-item"><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa-solid fa-share"></i> <span class="d-none d-lg-inline">{{ text_checkout }}</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-4">
          <div id="logo">
            {% if logo %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid"/></a>
            {% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}
          </div>
        </div>
        <div class="col-md-5">{{ search }}</div>
        <div id="cart" class="col-md-4 col-lg-3 mb-2">{{ cart }}</div>
      </div>
    </div>
  </header>#}
  <main>
    {#{{ menu }}#}
