<div class="pagination">
  {% if prev %}
    <a href="{{ prev }}" class="pagination__nav pagination__nav_prev"><svg><use xlink:href="#icon-angle-right"></use></svg></a>
  {% endif %}
  {% for link in links %}
    {% if link.page == page %}
      <span class="pagination__current">{{ link.page }}</span>
    {% else %}
      <a href="{{ link.href }}" class="pagination__link">{{ link.page }}</a>
    {% endif %}
  {% endfor %}
  {% if next %}
    <a href="{{ next }}" class="pagination__nav pagination__nav_next"><svg><use xlink:href="#icon-angle-right"></use></svg></a>
  {% endif %}
</div>