{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ heading_title }}</h3>
            </div>
            <div class="panel-body">
                <p>Тут буде наш майбутній функціонал імпорту :)</p>
                <a href="{{ preview }}" class="btn btn-primary" id="button-preview">{{ button_preview }}</a>
                <button type="button" class="btn btn-success" id="button-import">{{ button_import }}</button>
            </div>
        </div>
    </div>
</div>
{{ footer }}
