{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="fa-solid fa-images"></i> Завантаження зображень</div>
            <div class="card-body">
                <a href="{{ action_import_images }}" class="btn btn-primary" id="button-images">{{ button_import_images }}</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header"><i class="fa-solid fa-tag"></i> Імпорт товарів</div>
            <div class="card-body">
                <a href="{{ action_import_products }}" class="btn btn-success" id="button-preview">{{ button_import_products }}</a>
            </div>
        </div>
    </div>
</div>
{{ footer }}
