{{ header }}
<div id="information-information" class="container">
    <div class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
                <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                <svg class="breadcrumbs__separator"><use xlink:href="#icon-angle-right"></use></svg>
            {% else %}
                <span class="breadcrumbs__current">{{ breadcrumb.text }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <article class="text">
        <h1 class="heading text__heading">{{ heading_title }}</h1>
        {{ description }}
    </article>
</div>
{{ footer }}