{% if products %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
  {% endif %}
  {% if error_stock %}
    <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error_stock }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
  {% endif %}
  {% if attention %}
    <div class="alert alert-info"><i class="fa-solid fa-circle-info"></i> {{ attention }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
  {% endif %}
  <h1 class="shopping-cart__heading heading">{{ heading_title }}{% if weight %} ({{ weight }}){% endif %}</h1>
  <div id="output-cart" class="shopping-cart__row">
    <div class="shopping-cart__main">
      <div class="shopping-cart__message">{{ text_total_products }}</div>
      <div class="shopping-cart__list" id="cart-list">
        {% for product in products %}
          <div class="shopping-cart__item">
            <div class="shopping-cart__img">
              {% if product.thumb %}
                <a href="{{ product.href }}" class="shopping-cart__img-link">
                  <img src="{{ product.thumb }}" alt="{{ product.name }}">
                </a>
              {% endif %}
            </div>
            <div class="shopping-cart__inner">
              <div class="shopping-cart__title">
                <a href="{{ product.href }}" class="shopping-cart__title-link">{{ product.name }}</a>{% if not product.stock %} <span class="text-danger">***</span>{% endif %}
              </div>
              <div class="shopping-cart__group">
                <div class="shopping-cart__price">
                  <div class="shopping-cart__price-current">{{ product.total }}</div>
                  {% if product.old_price_total %}
                    <div class="shopping-cart__price-old">{{ product.old_price_total }}</div>
                  {% endif %}
                </div>
                <form class="shopping-cart__quantity quantity" data-key="{{ product.cart_id }}" data-url="{{ edit }}">
                  <button type="button" class="quantity__btn quantity__btn_minus"></button>
                  <input type="text" name="quantity" value="{{ product.quantity }}" inputmode="numeric" size="2" class="quantity__input{% if product.minimum %} is-invalid{% endif %}">
                  <button type="button" class="quantity__btn quantity__btn_plus"></button>
                </form>
              </div>
            </div>
            <a href="{{ product.remove }}" title="{{ button_remove }}" class="shopping-cart__remove"></a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="shopping-cart__aside">
      <div class="shopping-cart__aside-total">
        <div class="shopping-cart__aside-label">Загальна вартість:</div>
        <div class="shopping-cart__aside-value">{{ total_products_price }}</div>
      </div>
      <a href="{{ checkout }}" class="shopping-cart__aside-checkout">{{ button_checkout }}</a>
    </div>
  </div>
{% else %}
  <h1 class="shopping-cart__heading heading">{{ heading_title }}</h1>
  <div class="no-results">{{ text_no_results }}</div>
{% endif %}