{{ header }}
<div id="checkout-cart" class="container">
    <div class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
                <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                <svg class="breadcrumbs__separator"><use xlink:href="#icon-angle-right"></use></svg>
            {% else %}
                <span class="breadcrumbs__current">{{ breadcrumb.text }}</span>
            {% endif %}
        {% endfor %}
    </div>
  <div id="shopping-cart" class="shopping-cart">{{ list }}</div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const container = document.querySelector('#shopping-cart');

        if (!container) return;

        container.addEventListener('input', function (e) {
            const input = e.target.closest('input[name="quantity"]');
            if (!input) return;

            const form = input.closest('.shopping-cart__quantity');
            if (!form) return;

            const url = form.dataset.url;
            const key = form.dataset.key;
            const quantity = parseInt(input.value, 10) || 1;

            const formData = new URLSearchParams();
            formData.append('key', key);
            formData.append('quantity', quantity);

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData.toString()
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        fetch('index.php?route=checkout/cart.list')
                            .then(res => res.text())
                            .then(html => {
                                document.querySelector('#shopping-cart').innerHTML = html;
                            });
                    } else if (data.redirect) {
                        location.href = data.redirect;
                    }
                });
        });
    });

{#$('#shopping-cart').on('submit', '#cart form', function(e) {
    e.preventDefault();

    var element = this;

    if (e.originalEvent !== undefined && e.originalEvent.submitter !== undefined) {
        var button = e.originalEvent.submitter;
    } else {
        var button = '';
    }

    $.ajax({
        url: $(button).attr('formaction'),
        type: 'post',
        data: $(element).serialize(),
        dataType: 'json',
        beforeSend: function() {
            $(button).button('loading');
        },
        complete: function() {
            $(button).button('reset');
        },
        success: function(json) {
            console.log(json);

            if (json['redirect']) {
                location = json['redirect'];
            }

            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {
                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#shopping-cart').load('index.php?route=checkout/cart.list', {}, function() {
                    $('#cart').load('index.php?route=common/cart.info');
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}); #}

$('#shopping-cart').on('click', '.shopping-cart__remove', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('href'),
        dataType: 'json',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(json) {
            console.log(json);

            if (json['redirect']) {
                location = json['redirect'];
            }

            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {
                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#shopping-cart').load('index.php?route=checkout/cart.list');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

{#
$('#shopping-cart').observe(function(e) {
    $('#cart').load('index.php?route=common/cart.info');
});

$('#cart').on('submit', 'form', function(e) {
    window.setTimeout(function() {
        $('#shopping-cart').load('index.php?route=checkout/cart.list');
    }, 3000);
});
#}
</script>
{{ footer }}
