{% if products %}
  <div class="wishlist__products">
    {% for product in products %}
      <div class="wishlist__product">
        <div class="wishlist__product-group">
          {% if product.thumb %}
            <a href="{{ product.href }}" class="wishlist__product-img">
              <img src="{{ product.thumb }}" alt="{{ product.name }}">
            </a>
          {% endif %}
          <div class="wishlist__product-inner">
            <div class="wishlist__product-title">
              <a href="{{ product.href }}" class="wishlist__product-title-link">{{ product.name }}</a>
            </div>
            <div class="wishlist__product-stock wishlist__product-stock_{% if product.quantity > 0 %}yes{% else %}no{% endif %}">{{ product.stock }}</div>
            {% if product.price %}
              <div class="wishlist__product-price">
                {% if product.old_price %}
                  <div class="wishlist__product-price-old">{{ product.old_price }}</div>
                {% endif %}
                <div class="wishlist__product-price-current">{{ product.price }}</div>
              </div>
            {% endif %}
          </div>
        </div>
        <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#cart" class="wishlist__product-action">
          {% if product.quantity > 0 %}
            <button type="submit" formaction="{{ cart_add }}" title="{{ button_cart }}" class="wishlist__product-add">{{ button_cart }}</button>
          {% else %}
            <button title="{{ text_expected }}" class="wishlist__product-expected" disabled>{{ text_expected }}</i></button>
          {% endif %}
          <button type="submit" formaction="{{ product.remove }}" title="{{ button_wishlist_remove }}" class="wishlist__product-remove"></button>
          <input type="hidden" name="product_id" value="{{ product.product_id }}">
          <input type="hidden" name="quantity" value="{{ product.minimum }}">
          <input type="hidden" name="wishlist_page" value="true">
        </form>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="no-results">{{ text_no_results }}</div>
{% endif %}
