{{ header }}
<div id="account-wishlist" class="container">
    <div class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
                <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                <svg class="breadcrumbs__separator"><use xlink:href="#icon-angle-right"></use></svg>
            {% else %}
                <span class="breadcrumbs__current">{{ breadcrumb.text }}</span>
            {% endif %}
        {% endfor %}
    </div>

    <div class="wishlist">
        <h1 class="wishlist__heading heading">{{ heading_title }}</h1>
        <div id="wishlist" class="wishlist__main">{{ list }}</div>
    </div>

</div>
<script type="text/javascript">
$('#wishlist').on('click', '.btn-danger', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('href'),
        dataType: 'json',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(json) {
            console.log(json);

            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {
                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#wishlist').load('index.php?route=account/wishlist.list&language={{ language }}');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
</script>
{{ footer }}