{{ header }}
<div id="product-info" class="container product-info">
  <div class="breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
            <svg class="breadcrumbs__separator"><use xlink:href="#icon-angle-right"></use></svg>
        {% else %}
            <span class="breadcrumbs__current">{{ breadcrumb.text }}</span>
        {% endif %}
    {% endfor %}
  </div>

    {% if is_mobile %}

        <div class="product">
            <h1 class="product__heading heading">{{ heading_title }}</h1>
            <div class="product__gallery">
                {% if thumb %}
                    <div class="product__gallery-main">
                        <a href="{{ popup }}" class="product__gallery-img glightbox" data-gallery="product-gallery">
                            <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                        </a>
                        {% if plates %}
                            <div class="product__plates">
                                {% for plate in plates %}
                                    <div class="product__plate">{{ plate.name }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="post" data-oc-toggle="ajax">
                            <button type="submit" formaction="{{ wishlist_add }}" class="product__favorite favorite-btn favorite-btn_add{% if is_in_wishlist %} favorite-btn_hidden{% endif %}" title="{{ button_wishlist }}" data-product-id="{{ product_id }}"></button>
                            <button type="submit" formaction="{{ wishlist_remove }}" class="product__favorite favorite-btn favorite-btn_remove{% if not is_in_wishlist %} favorite-btn_hidden{% endif %}" title="{{ button_wishlist_remove }}" data-product-id="{{ product_id }}"></button>
                            <input type="hidden" name="product_id" value="{{ product_id }}">
                        </form>
                    </div>
                {% endif %}
                {% if images or videos %}
                    <div class="product__gallery-thumbs">
                        {% if images %}
                            {% for image in images %}
                                <a href="{{ image.popup }}" class="product__gallery-thumb glightbox" data-gallery="product-gallery">
                                    <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                                </a>
                            {% endfor %}
                        {% endif %}
                        {% if videos %}
                            {% for video in videos %}
                                <a href="{{ video.video }}" class="product__gallery-thumb glightbox" data-gallery="product-gallery">
                                    <span class="product__gallery-video"></span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="product__attr">
                <div class="product__stock product__stock_{% if quantity > 0 %}yes{% else %}no{% endif %}">{{ stock }}</div>
                <div class="product__code">{{ text_sku }} {{ sku }}</div>
            </div>
            <div class="product__rating">
                <div class="product__rating-main">
                    <div class="product__rating-stars product__rating-stars_{{ rating }}"></div>
                    <div class="product__rating-count">{{ text_reviews }}</div>
                </div>
                <a href="#form-review" class="product__rating-add">{{ text_write }}</a>
            </div>
            <div class="product__panel">
                {% if price %}
                    <div class="product__price">
                        {% if old_price %}
                            <div class="product__price-old">{{ old_price }}</div>
                        {% endif %}
                        <div class="product__price-current">{{ price }}</div>
                    </div>
                {% endif %}
                <form id="form-product" class="product__buy">
                    {% if quantity > 0 %}
                        <div class="product__quantity quantity">
                            <button type="button" class="quantity__btn quantity__btn_minus"></button>
                            <input type="text" name="quantity" value="{{ minimum }}" inputmode="numeric" size="2" id="input-quantity" class="quantity__input">
                            <button type="button" class="quantity__btn quantity__btn_plus"></button>
                        </div>
                        <button type="submit" id="button-cart" class="product__add"></button>
                        <input type="hidden" name="product_id" value="{{ product_id }}" id="input-product-id"/>
                    {% else %}
                        <button class="product__expected" disabled>{{ entry_expected }}</button>
                    {% endif %}
                </form>
            </div>
            <div class="product__accordion">
                <div class="product__accordion-section product__accordion-section_open">
                    <div class="product__accordion-head">{{ tab_description }}</div>
                    <div class="product__accordion-body">
                        <div class="product__accordion-inner text">
                            {{ description }}
                        </div>
                    </div>
                </div>
                {% if attribute_groups %}
                    <div class="product__accordion-section">
                        <div class="product__accordion-head">{{ tab_specs }}</div>
                        <div class="product__accordion-body">
                            <div class="product__accordion-inner">
                                <table class="table-specs">
                                    {% for attribute_group in attribute_groups %}
                                        <tbody class="table-specs__body">
                                        {% if manufacturer %}
                                            <tr class="table-specs__tr">
                                                <td class="table-specs__td table-specs__td_label">{{ text_manufacturer }}</td>
                                                <td class="table-specs__td table-specs__td_value">{{ manufacturer }}</td>
                                            </tr>
                                        {% endif %}
                                        {% for attribute in attribute_group.attribute %}
                                            <tr class="table-specs__tr">
                                                <td class="table-specs__td table-specs__td_label">{{ attribute.name }}</td>
                                                <td class="table-specs__td table-specs__td_value">{{ attribute.text }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="product__accordion-section">
                    <div class="product__accordion-head">{{ tab_delivery }}</div>
                    <div class="product__accordion-body">
                        <div class="product__accordion-inner">
                            <div class="product-delivery">
                                <div class="product-delivery__section">
                                    <div class="product-delivery__name">
                                        <div class="product-delivery__name-logo">
                                            <img src="catalog/view/images/logo-novaposhta.svg" width="24" height="24" alt="">
                                        </div>
                                        <div class="product-delivery__name-text">Нова Пошта</div>
                                    </div>
                                    <div class="product-delivery__desc text">
                                        <p>Отримати замовлення Ви можете у будь-якому найближчому відділенні транспортної компанії «Нова пошта» або замовити кур’єрську доставку за вказаною Вами адресою. Цей вид доставки оплачується <b>за тарифами Нової пошти</b>.</p>
                                        <p>Якщо Ви обрали сплатити замовлення за допомогою <b>післяплати</b>, з Вас буде взята комісія в розмірі 20 грн, яка стягується за грошовий переказ, а також 2% від загальної суми замовлення.</p>
                                        <p>Середній термін доставки посилки Україною — <b>1-3 дні</b>.</p>
                                    </div>
                                </div>
                                <div class="product-delivery__section">
                                    <div class="product-delivery__name">
                                        <div class="product-delivery__name-logo">
                                            <img src="catalog/view/images/logo-ukrposhta.svg" width="24" height="24" alt="">
                                        </div>
                                        <div class="product-delivery__name-text">Укрпошта</div>
                                    </div>
                                    <div class="product-delivery__desc text">
                                        <p>Ми здійснюємо доставку Укрпоштою.</p>
                                        <p>Цей вид доставки оплачується <b>за тарифами Укрпошти</b>.</p>
                                        <p>Середній термін доставки — <b>3-7 днів</b>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__accordion-section">
                    <div class="product__accordion-head">{{ tab_payment }}</div>
                    <div class="product__accordion-body">
                        <div class="product__accordion-inner">
                            <div class="product-pay">
                                <img src="catalog/view/images/logo-pay-visa.svg" width="64" height="44" alt="">
                                <img src="catalog/view/images/logo-pay-mastercard.svg" width="64" height="44" alt="">
                                <img src="catalog/view/images/logo-pay-applepay.svg" width="64" height="44" alt="">
                                <img src="catalog/view/images/logo-pay-googlepay.svg" width="64" height="44" alt="">
                                <img src="catalog/view/images/logo-pay-liqpay.svg" width="64" height="44" alt="">
                                <img src="catalog/view/images/logo-pay-mono.svg" width="64" height="44" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% if review_status %}
                    <div class="product__accordion-section">
                        <div class="product__accordion-head">{{ tab_review }}</div>
                        <div class="product__accordion-body">
                            <div class="product__accordion-inner">
                                {{ review }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% else %}

        <nav class="product-nav">
            <a href="#section-about" class="product-nav__link product-nav__link_active">{{ tab_about }}</a>
            <a href="#section-description" class="product-nav__link">{{ tab_description }}</a>
            {% if attribute_groups %}<a href="#section-specs" class="product-nav__link">{{ tab_specs }}</a>{% endif %}
            <a href="#section-delivery" class="product-nav__link">{{ tab_delivery }}</a>
            <a href="#section-payment" class="product-nav__link">{{ tab_payment }}</a>
            {% if review_status %}<a href="#section-reviews" class="product-nav__link">{{ tab_review }}</a>{% endif %}
        </nav>

        <div id="section-about" class="product-about">
            <div class="product-about__gallery">
                {% if thumb %}
                    <div class="product-about__gallery-main">
                        <a href="{{ popup }}" class="product-about__gallery-img glightbox" data-gallery="product-gallery">
                            <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                        </a>
                        {% if plates %}
                            <div class="product-about__plates">
                                {% for plate in plates %}
                                    <div class="product-about__plate">{{ plate.name }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="post" data-oc-toggle="ajax">
                            <button type="submit" formaction="{{ wishlist_add }}" class="product-about__favorite favorite-btn favorite-btn_add{% if is_in_wishlist %} favorite-btn_hidden{% endif %}" title="{{ button_wishlist }}" data-product-id="{{ product_id }}"></button>
                            <button type="submit" formaction="{{ wishlist_remove }}" class="product-about__favorite favorite-btn favorite-btn_remove{% if not is_in_wishlist %} favorite-btn_hidden{% endif %}" title="{{ button_wishlist_remove }}" data-product-id="{{ product_id }}"></button>
                            <input type="hidden" name="product_id" value="{{ product_id }}">
                        </form>
                    </div>
                {% endif %}
                {% if images or videos %}
                    <div class="product-about__gallery-thumbs">
                        {% if images %}
                            {% for image in images %}
                                <a href="{{ image.popup }}" class="product-about__gallery-thumb glightbox" data-gallery="product-gallery">
                                    <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                                </a>
                            {% endfor %}
                        {% endif %}
                        {% if videos %}
                            {% for video in videos %}
                                <a href="{{ video.video }}" class="product-about__gallery-thumb glightbox" data-gallery="product-gallery">
                                    <span class="product-about__gallery-video"></span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="product-about__main">
                <h1 class="product-about__heading heading">{{ heading_title }}</h1>
                <div class="product-about__attr">
                    <div class="product-about__stock product-about__stock_{% if quantity > 0 %}yes{% else %}no{% endif %}">{{ stock }}</div>
                    <div class="product-about__code">{{ text_sku }} {{ sku }}</div>
                </div>
                <div class="product-about__rating">
                    <div class="product-about__rating-main">
                        <div class="product-about__rating-stars product-about__rating-stars_{{ rating }}"></div>
                        <div class="product-about__rating-count">{{ text_reviews }}</div>
                    </div>
                    <a href="#form-review" class="product-about__rating-add">{{ text_write }}</a>
                </div>
                <div class="product-about__panel">
                    {% if price %}
                        <div class="product-about__price">
                            {% if old_price %}
                                <div class="product-about__price-old">{{ old_price }}</div>
                            {% endif %}
                            <div class="product-about__price-current">{{ price }}</div>
                        </div>
                    {% endif %}
                    <form id="form-product" class="product-about__buy">
                        {% if quantity > 0 %}
                            <div class="product-about__quantity quantity">
                                <button type="button" class="quantity__btn quantity__btn_minus"></button>
                                <input type="text" name="quantity" value="{{ minimum }}" inputmode="numeric" size="2" id="input-quantity" class="quantity__input">
                                <button type="button" class="quantity__btn quantity__btn_plus"></button>
                            </div>
                            <button type="submit" id="button-cart" class="product-about__add">{{ button_cart }}</button>
                            <input type="hidden" name="product_id" value="{{ product_id }}" id="input-product-id"/>
                        {% else %}
                            <button class="product-about__expected" disabled>{{ entry_expected }}</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <div class="product-row">
            <div class="product-row__main">
                <div id="section-description" class="product-box text">
                    <div class="product-box__heading">{{ tab_description }}</div>
                    {{ description }}
                </div>
                {% if attribute_groups %}
                    <div id="section-specs" class="product-box">
                        <div class="product-box__heading">{{ tab_specs }}</div>
                        <table class="table-specs">
                            {% for attribute_group in attribute_groups %}
                                <tbody class="table-specs__body">
                                {% if manufacturer %}
                                    <tr class="table-specs__tr">
                                        <td class="table-specs__td table-specs__td_label">{{ text_manufacturer }}</td>
                                        <td class="table-specs__td table-specs__td_value">{{ manufacturer }}</td>
                                    </tr>
                                {% endif %}
                                {% for attribute in attribute_group.attribute %}
                                    <tr class="table-specs__tr">
                                        <td class="table-specs__td table-specs__td_label">{{ attribute.name }}</td>
                                        <td class="table-specs__td table-specs__td_value">{{ attribute.text }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                <div id="section-delivery" class="product-box">
                    <div class="product-box__heading">{{ tab_delivery }}</div>
                    <div class="product-delivery">
                        <div class="product-delivery__section">
                            <div class="product-delivery__name">
                                <div class="product-delivery__name-logo">
                                    <img src="catalog/view/images/logo-novaposhta.svg" width="24" height="24" alt="">
                                </div>
                                <div class="product-delivery__name-text">Нова Пошта</div>
                            </div>
                            <div class="product-delivery__desc text">
                                <p>Отримати замовлення Ви можете у будь-якому найближчому відділенні транспортної компанії «Нова пошта» або замовити кур’єрську доставку за вказаною Вами адресою. Цей вид доставки оплачується <b>за тарифами Нової пошти</b>.</p>
                                <p>Якщо Ви обрали сплатити замовлення за допомогою <b>післяплати</b>, з Вас буде взята комісія в розмірі 20 грн, яка стягується за грошовий переказ, а також 2% від загальної суми замовлення.</p>
                                <p>Середній термін доставки посилки Україною — <b>1-3 дні</b>.</p>
                            </div>
                        </div>
                        <div class="product-delivery__section">
                            <div class="product-delivery__name">
                                <div class="product-delivery__name-logo">
                                    <img src="catalog/view/images/logo-ukrposhta.svg" width="24" height="24" alt="">
                                </div>
                                <div class="product-delivery__name-text">Укрпошта</div>
                            </div>
                            <div class="product-delivery__desc text">
                                <p>Ми здійснюємо доставку Укрпоштою.</p>
                                <p>Цей вид доставки оплачується <b>за тарифами Укрпошти</b>.</p>
                                <p>Середній термін доставки — <b>3-7 днів</b>.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section-payment" class="product-box">
                    <div class="product-box__heading">{{ tab_payment }}</div>
                    <div class="product-pay">
                        <img src="catalog/view/images/logo-pay-visa.svg" width="64" height="44" alt="">
                        <img src="catalog/view/images/logo-pay-mastercard.svg" width="64" height="44" alt="">
                        <img src="catalog/view/images/logo-pay-applepay.svg" width="64" height="44" alt="">
                        <img src="catalog/view/images/logo-pay-googlepay.svg" width="64" height="44" alt="">
                        <img src="catalog/view/images/logo-pay-liqpay.svg" width="64" height="44" alt="">
                        <img src="catalog/view/images/logo-pay-mono.svg" width="64" height="44" alt="">
                    </div>
                </div>
                {% if review_status %}
                    <div id="section-reviews" class="product-box">
                        <div class="product-box__heading">{{ tab_review }}</div>
                        {{ review }}
                    </div>
                {% endif %}
            </div>
            <div class="product-row__aside">
                <div class="product-widget">
                    {% if thumb %}
                        <div class="product-widget__img">
                            <img src="{{ thumb }}" alt="{{ heading_title }}">
                            {% if plates %}
                                <div class="product-widget__plates">
                                    {% for plate in plates %}
                                        <div class="product-widget__plate">{{ plate.name }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form method="post" data-oc-toggle="ajax">
                                <button type="submit" formaction="{{ wishlist_add }}" class="product-widget__favorite favorite-btn favorite-btn_add{% if is_in_wishlist %} favorite-btn_hidden{% endif %}" title="{{ button_wishlist }}" data-product-id="{{ product_id }}"></button>
                                <button type="submit" formaction="{{ wishlist_remove }}" class="product-widget__favorite favorite-btn favorite-btn_remove{% if not is_in_wishlist %} favorite-btn_hidden{% endif %}" title="{{ button_wishlist_remove }}" data-product-id="{{ product_id }}"></button>
                                <input type="hidden" name="product_id" value="{{ product_id }}">
                            </form>
                        </div>
                    {% endif %}
                    <div class="product-widget__inner">
                        <div class="product-widget__title">{{ heading_title }}</div>
                        {% if price %}
                            <div class="product-widget__price">
                                {% if old_price %}
                                    <div class="product-widget__price-old">{{ old_price }}</div>
                                {% endif %}
                                <div class="product-widget__price-current">{{ price }}</div>
                            </div>
                        {% endif %}
                        <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#cart">
                            {% if quantity > 0 %}
                                <button type="submit" formaction="{{ cart_add }}" title="{{ button_cart }}" class="product-widget__add">{{ button_cart }}</button>
                            {% else %}
                                <button title="{{ text_expected }}" class="product-widget__expected" disabled>{{ entry_expected }}</i></button>
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{ product_id }}"/>
                            <input type="hidden" name="quantity" value="{{ minimum }}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {{ related }}

</div>
<script type="text/javascript">
    {% if dataLayer %}
        window.dataLayer.push({ ecommerce: null });
        window.dataLayer.push({{ dataLayer|json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }});
    {% endif %}

    {% if is_mobile %}

        document.addEventListener('click', (e) => {
            if (!e.target.matches('.product__accordion-head')) return;

            const parentSection = e.target.closest('.product__accordion-section');
            const bodySection = parentSection.querySelector('.product__accordion-body');

            collapseToggle(bodySection, 200, () => {
                parentSection.classList.toggle('product__accordion-section_open');
            });
        });

        document.querySelector('.product__rating-add').addEventListener("click", function (e) {
            e.preventDefault();
            const targetId = this.getAttribute("href");
            const targetSection = document.querySelector(targetId);

            const parentSection = targetSection.closest('.product__accordion-section');
            const bodySection = parentSection.querySelector('.product__accordion-body');

            collapseDown(bodySection, 200, () => {
                parentSection.classList.add('product__accordion-section_open');
            });

            if (targetSection) {
                window.scrollTo({
                    top: targetSection.offsetTop - 56,
                    behavior: "smooth"
                });
            }
        });

    {% else %}

        document.addEventListener("DOMContentLoaded", function () {
            const links = document.querySelectorAll(".product-nav__link");
            const sections = Array.from(links).map(link =>
                document.querySelector(link.getAttribute("href"))
            );

            function onScroll() {
                const scrollPos = window.scrollY + 56;

                sections.forEach((section, index) => {
                    if (
                        section.offsetTop <= scrollPos &&
                        section.offsetTop + section.offsetHeight > scrollPos
                    ) {
                        links.forEach(link => link.classList.remove("product-nav__link_active"));
                        links[index].classList.add("product-nav__link_active");
                    }
                });
            }

            window.addEventListener("scroll", onScroll);
            onScroll();

            links.forEach(link => {
                link.addEventListener("click", function (e) {
                    e.preventDefault();
                    const targetId = this.getAttribute("href");
                    const targetSection = document.querySelector(targetId);
                    if (targetSection) {
                        window.scrollTo({
                            top: targetSection.offsetTop - 56,
                            behavior: "smooth"
                        });
                    }
                });
            });

            document.querySelector('.product-about__rating-add').addEventListener("click", function (e) {
                e.preventDefault();
                const targetId = this.getAttribute("href");
                const targetSection = document.querySelector(targetId);
                if (targetSection) {
                    window.scrollTo({
                        top: targetSection.offsetTop - 56,
                        behavior: "smooth"
                    });
                }
            });
        });

    {% endif %}

    document.addEventListener("DOMContentLoaded", function() {
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true,
            autoplayVideos: true
        });
    });

$('#input-subscription').on('change', function(e) {
    var element = this;

    $('.subscription').addClass('d-none');

    $('#subscription-description-' + $(element).val()).removeClass('d-none');
});

$('#form-product').on('submit', function(e) {
    e.preventDefault();

    $.ajax({
        url: 'index.php?route=checkout/cart.add&language={{ language }}',
        type: 'post',
        data: $('#form-product').serialize(),
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded',
        cache: false,
        processData: false,
        beforeSend: function() {
            $('#button-cart').button('loading');
        },
        complete: function() {
            $('#button-cart').button('reset');
        },
        success: function(json) {
            console.log(json);

            $('#form-product').find('.is-invalid').removeClass('is-invalid');
            $('#form-product').find('.invalid-feedback').removeClass('d-block');

            if (json['error']) {
                for (key in json['error']) {
                    $('#input-' + key.replaceAll('_', '-')).addClass('is-invalid').find('.form-control, .form-select, .form-check-input, .form-check-label').addClass('is-invalid');
                    $('#error-' + key.replaceAll('_', '-')).html(json['error'][key]).addClass('d-block');
                }
            }

            if (json['success']) {
                if (json['success']['type'] = 'add_cart') {
                    const modalCartBody = document.getElementById('modal-cart-body');
                    modalCartBody.innerHTML = json['success']['template'];
                    modalShow('#modal-add-cart');

                    const productDataLayer = json['success']['data_layer'];
                    window.dataLayer.push({ ecommerce: null });
                    window.dataLayer.push({
                        event: 'add_to_cart',
                        ecommerce: {
                            currency: 'UAH',
                            items: [
                                {
                                    item_id: productDataLayer.id.toString(),
                                    item_name: productDataLayer.name,
                                    price: productDataLayer.price,
                                    quantity: productDataLayer.quantity
                                }
                            ]
                        }
                    });
                } else {
                    $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                $('#cart').load('index.php?route=common/cart.info&language={{ language }}');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

</script>
{{ footer }}
