{{ list }}
<form id="form-review" class="form-review">
  <div class="form-review__heading">{{ text_write }}</div>
  {% if review_guest %}
    <div class="form-review__group required">
      <label for="input-author" class="form-review__label">{{ entry_author }}</label>
      <input type="text" name="author" value="{{ customer }}" id="input-author" class="form-review__control" placeholder="{{ entry_author }}">
      <div id="error-author" class="invalid-feedback"></div>
    </div>
    <div class="form-review__group required">
      <label for="input-text" class="form-review__label">{{ entry_review }}</label>
      <textarea name="text" rows="7" id="input-text" class="form-review__control" placeholder="{{ entry_review }}"></textarea>
      <div id="error-text" class="invalid-feedback"></div>
    </div>
    <div class="form-review__row">
      <div class="form-review__group">
        <label for="input-advantages" class="form-review__label">{{ entry_advantages }}</label>
        <input type="text" name="advantages" value="" id="input-advantages" class="form-review__control" placeholder="{{ entry_advantages }}">
      </div>
      <div class="form-review__group">
        <label for="input-disadvantages" class="form-review__label">{{ entry_disadvantages }}</label>
        <input type="text" name="disadvantages" value="" id="input-disadvantages" class="form-review__control" placeholder="{{ entry_disadvantages }}">
      </div>
    </div>
    <div class="form-review__rating required">
      <div class="form-review__rating-main" id="input-rating">
        <div class="form-review__rating-label">{{ entry_rating }}</div>
        <div class="form-review__rating-vote">
          <input type="radio" name="rating" value="5" class="form-review__rating-control" id="rating-vote-5">
          <label for="rating-vote-5" class="form-review__rating-star" title="5"></label>
          <input type="radio" name="rating" value="4" class="form-review__rating-control" id="rating-vote-4">
          <label for="rating-vote-4" class="form-review__rating-star" title="4"></label>
          <input type="radio" name="rating" value="3" class="form-review__rating-control" id="rating-vote-3">
          <label for="rating-vote-3" class="form-review__rating-star" title="3"></label>
          <input type="radio" name="rating" value="2" class="form-review__rating-control" id="rating-vote-2">
          <label for="rating-vote-2" class="form-review__rating-star" title="2"></label>
          <input type="radio" name="rating" value="1" class="form-review__rating-control" id="rating-vote-1">
          <label for="rating-vote-1" class="form-review__rating-star" title="1"></label>
        </div>
      </div>
      <div id="error-rating" class="invalid-feedback"></div>
    </div>
    {{ captcha }}
    <div class="form-review__submit">
      <button type="submit" id="button-review" class="form-review__btn">{{ button_review }}</button>
    </div>
  {% else %}
    {{ text_login }}
  {% endif %}
</form>
<script type="text/javascript">
$('#review').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#review').load(this.href);
});

// Forms
$('#form-review').on('submit', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: 'index.php?route=product/review.write&language={{ language }}&review_token={{ review_token }}&product_id={{ product_id }}',
        type: 'post',
        data: $('#form-review').serialize(),
        dataType: 'json',
        cache: false,
        contentType: 'application/x-www-form-urlencoded',
        processData: false,
        beforeSend: function() {
            $('#button-review').button('loading');
        },
        complete: function() {
            $('#button-review').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();
            $('#form-review').find('.is-invalid').removeClass('is-invalid');
            $('#form-review').find('.invalid-feedback').removeClass('d-block');

            if (json['error']) {
                if (json['error']['warning']) {
                    $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                for (key in json['error']) {
                    $('#input-' + key.replaceAll('_', '-')).addClass('is-invalid').find('.form-control, .form-select, .form-check-input, .form-check-label').addClass('is-invalid');
                    $('#error-' + key.replaceAll('_', '-')).html(json['error'][key]).addClass('d-block');
                }
            }

            if (json['success']) {
                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#input-text').val('');
                $('#input-advantages').val('');
                $('#input-disadvantages').val('');
                $('#input-rating input[type=\'radio\']').prop('checked', false);
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
</script>