{% if reviews %}
  <div id="review" class="reviews-list">
    {% for review in reviews %}
      <div class="review-item">
        <div class="review-item__inner">
          <div class="review-item__head">
            <div class="review-item__name">
              <div class="review-item__name-avatar">{{ review.author|slice(0, 1) }}</div>
              <div class="review-item__name-text">{{ review.author }}</div>
            </div>
            <div class="review-item__group">
              <div class="review-item__rating review-item__rating_{{ review.rating }}"></div>
              <div class="review-item__date">{{ review.date_added }}</div>
            </div>
          </div>
          <div class="review-item__body">
            <p>{{ review.text }}</p>
            {% if review.advantages %}
              <p><b>{{ text_advantages }}</b> {{ review.advantages }}</p>
            {% endif %}
            {% if review.disadvantages %}
              <p><b>{{ text_disadvantages }}</b> {{ review.disadvantages }}</p>
            {% endif %}
          </div>
        </div>
        {% if review.store_answer %}
          <div class="review-item__answer">
            <div class="review-item__answer-text">{{ review.store_answer }}</div>
            <div class="review-item__answer-name">{{ text_store_answer }}</div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {{ pagination }}
  </div>
{% else %}
  <div class="no-results">{{ text_no_results }}</div>
{% endif %}
