<div class="product-thumb">
  <div class="product-thumb__img">
      <a href="{{ href }}" class="product-thumb__img-link{% if videos %} product-thumb__img-link_video{% endif %}">
          <img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}">
      </a>
      {% if plates %}
          <div class="product-thumb__plates">
              {% for plate in plates %}
                  <div class="product-thumb__plate">{{ plate.name }}</div>
              {% endfor %}
          </div>
      {% endif %}
  </div>
  <div class="product-thumb__inner">
    <div class="product-thumb__title">
        <a href="{{ href }}" class="product-thumb__title-link">{{ name }}</a>
    </div>
    <div class="product-thumb__stock product-thumb__stock_{% if quantity > 0 %}yes{% else %}no{% endif %}">{{ stock }}</div>
      {% if price %}
          <div class="product-thumb__price">
            {% if old_price %}
                <div class="product-thumb__price-old">{{ old_price }}</div>
            {% endif %}
            <div class="product-thumb__price-current">{{ price }}</div>
          </div>
      {% endif %}
    <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#cart">
      {% if quantity > 0 %}
        <button type="submit" formaction="{{ cart_add }}" title="{{ button_cart }}" class="product-thumb__add">{{ button_cart }}</button>
      {% else %}
        <button title="{{ text_expected }}" class="product-thumb__expected" disabled>{{ text_expected }}</i></button>
      {% endif %}
      <button type="submit" formaction="{{ wishlist_add }}" title="{{ button_wishlist }}" class="product-thumb__favorite favorite-btn favorite-btn_add{% if is_in_wishlist %} favorite-btn_hidden{% endif %}" data-product-id="{{ product_id }}"></button>
      <button type="submit" formaction="{{ wishlist_remove }}" title="{{ button_wishlist_remove }}" class="product-thumb__favorite favorite-btn favorite-btn_remove{% if not is_in_wishlist %} favorite-btn_hidden{% endif %}" data-product-id="{{ product_id }}"></button>
      <input type="hidden" name="product_id" value="{{ product_id }}"/>
      <input type="hidden" name="quantity" value="{{ minimum }}"/>
    </form>
  </div>
</div>